<a
  href="/"
  class="group relative z-30 flex items-center"
>
  <img
    src="/assets/images/logo.png"
    alt="Rohail Zuberi"
    class="h-20 w-auto group-hover:opacity-90 block dark:hidden"
  />
  <img
    src="/assets/images/logo-dark.png"
    alt="Rohail Zuberi"
    class="h-20 w-auto group-hover:opacity-90 hidden dark:block"
  />
</a>
